<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>간편하게 ✨<br>모바일로 💬<br>우리가 만드는<br>커뮤니티 <span
                                style="color:red">마켓</span></h1>
                        <section class="download">
                            <p>앱으로 만나보세요</p>
                            <div class="badges">
                                <a class="badge-link"
                                    href="https://apps.apple.com/us/app/%EC%BD%9C%EB%9D%BC%EB%B3%B4%EB%A7%88%EC%BC%93/id1483739039"><img
                                        src="/img/app-store-badge.svg"
                                        alt=""></a>
                                <a class="badge-link"
                                    href="https://play.google.com/store/apps/details?id=io.anbion.kollabo"><img
                                        src="/img/google-play-badge.svg"
                                        alt="콜라보미켓 Play Store"></a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device">
                        <div class="screen">
                            <img src="/img/header-screenshot-1.webp"
                                class="img-responsive"
                                alt="kollabo market app home screen">
                        </div>
                        <div class="button">
                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>